:root
{
    --gray1: rgb(238, 238, 238);
    --gray2: rgb(204, 204, 204);
    --gray3: rgb(233, 233, 233);
    --lightblack1: rgb(176, 176, 176);
  
    --font1: arial, sans-serif;
    --fontSizeHead1: 14px;
    --fontSizeBody1: 12px;

    --backingColor: rgb(79, 79, 79);
    --pageColor: white;

    --sheetPrintPaddingSides: 12mm;
    --sheetPrintPaddingTop: 15mm;
    --sheetPrintPaddingBottom: 8mm;
}

body {
    margin: 0;
    padding: 40px 0;
    background-color: var(--backingColor);
    font-family: var(--font1);
    font-size: 12pt;
    display: flex;
    justify-content: center;

    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*Document container*/
.document {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*Sheet container*/
.page-body {
    width: 210mm;
    height: 297mm;

    padding: var(--sheetPrintPaddingSides);
    padding-top: var(--sheetPrintPaddingTop);
    padding-bottom: var(--sheetPrintPaddingBottom);

    margin-bottom: 10mm;
    background-color: var(--pageColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Sheet header / title*/
.page-header {
    text-align: center;
    font-size: var(--fontSizeHead1);
    margin-bottom: 10mm;
}

/*Sheet content*/
.page-sub {
    flex-grow: 1;
}

.page-footer {
    text-align: center;
    font-size: var(--fontSizeFoot1);

    margin-top: 0mm;
}

/*Print page settings*/
@page {
    size: A4;
    margin: 0;
}

/*Print layout settings*/
@media print {
    body, html {
        margin: 0;
        padding: 0;
        background-color: var(--pageColor);
    }

    .page-body {
        box-shadow: none;
        margin: 0;
        page-break-after: auto !important;
    }

    .page-footer {
        margin-top: 0mm;
    }

    .document {
        align-items: flex-start;
    }
}

table.topTable
{
  font-family: arial, sans-serif;
  font-size: 12pt;
  border-collapse: collapse;
  width: 100%;
}

table.topTable td, table.topTable th
{
  border: 1px solid #717171;
  text-align: left;
  padding: 6px;
}

table.toolTable
{
  font-family: var(--font1);
  font-size: small;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

table.toolTable th
{
  text-align: center;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  height: 5mm;
}

table.toolTable td
{
  text-align: left;
  border: 1px solid black;
  padding: 2px;
  height: 10mm;
}

table.toolTable tr:nth-child(even)
{
  background-color: rgb(212, 212, 212);
}

table.pathTable
{
  font-family: var(--font1);
  font-size: small;
  border-collapse: collapse;
  width: 100%;
}

table.pathTable th
{
  text-align: center;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
}

table.pathTable td
{
  text-align: left;
  border: 1px solid black;
  padding: 2px;
}

table.pathTable tr:nth-child(even)
{
  background-color: rgb(212, 212, 212);
}

.contentHeader
{
  display: flex;
  flex-wrap: nowrap;

  font-family: arial, sans-serif;
  text-align: left;
  font-size: 14px;
  padding: 3px;
  padding-left: 10px;
  font-weight: bold;

  background-color: #c1c1c1;
  border-bottom: 1px solid black;
}

.contentContainer
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background-color: var(--gray1);
  margin-top: 30px;
  border: 1px solid black;
}

.setupInfoContainer
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.setupInfo
{
  display: flex;
  flex-direction: column;
  height: 230px;
  flex-grow: 1;
}

.setupInfoMatHeadCont
{
  display:flex;
  flex-direction: row;

  width:100%;
}

.setupInfoMatHead
{
  flex-grow: 1;

  font-family: var(--font1);
  font-size: var(--fontSizeHead1);
  font-weight: bold;
  text-align:start;

  padding-top: 10px;
  padding-bottom:1px;
  padding-left:20px;

  border-bottom:1px solid black;
}

.setupInfoMatContCont
{
  display: flex;
  flex-direction: row;

  width:100%;
}

.setupInfoMatCont
{
  display:flex;
  flex-direction:column;

  flex-grow:1;
}

.setupInfoMatBlock
{
  font-family: var(--font1);
  font-size: var(--fontSizeBody1);
  font-weight: normal;
  text-align:center;

  padding-top:3px;
  padding-bottom:3px;

  border-right:1px solid black;
  border-bottom:1px solid black;
}

.setupInfoWCSCont
{
  display:flex;
  flex-direction:column;
  justify-content:end;

  width:100%;
  height:70px;

  background-color:var(--lightblack1);
}

.setupInfoWCS
{
  font-family:var(--font1);
  font-size:var(--fontSizeBody1);
  font-weight:bold;
  text-align:center;

  padding:5px;

  border-bottom:1px dashed black;
}

.setupInfoNotes
{
  font-family:var(--font1);
  font-size:var(--fontSizeBody1);
  font-weight:normal;
  text-align:start;

  padding:5px;

  width:100%;
  height:100%;
}

.footerCont
{
  display:flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;

  height:100%;
  width:100%;
}

.camSysFooter
{
  font-family: var(--font1);
  font-size: var(--fontSizeBody1);
  font-weight:normal;
  text-align:center;
  padding:10px;
}
